html{
  font-size:30px;
  background-color:black;
}
a{
  text-decoration:none;
}
nav{
  position:fixed;
  list-style-type: none;
  margin: 0;
  top:0;
  overflow: hidden;
  background-color:black;
  width:100%;
  font-size:20px;
}
.sam{
  float:left; 
  margin-right:200px;
  color:red;
}

li {
  list-style-type:none;
  float:right;
  margin-top:-4px;
  margin-bottom:20px;
}

li a {
  display: block;
  color:crimson;
  text-align:center;
  text-decoration:none;
  padding-right:20px;
  padding-left:20px;
  border-radius:20px;
  margin-right:5px;
}
li a:hover {
  background-color:crimson;
  color:white;
}

#projects{
  text-align:center;
  background-color:lightsteelblue;
  padding:250px 50px 250px 50px;
  border-radius:20px;
  color:firebrick;
}
div{
  padding:50px;
}
header{
  text-align:center;
}
button{
  margin-right:50px;
  margin-left:50px;
  margin-bottom:50px;
  margin-top:50px;
  padding:75px 75px 75px 75px;
  border:0 black solid;
  border-radius:250px;
}
button:hover{
  border:2px violet solid;
  box-shadow:1px 1px 1px violet;
  border-radius:50px;
}
#hello{
  text-align:center;
  color:white;
  background-color:midnightblue;
  padding:250px 50px 250px 50px;
  border-radius:20px;
  margin-top:15px;
  margin-bottom:15px;
}
#contact{
 background-color:mediumslateblue;
  border-radius:20px;
  margin-top:15px;
  margin-bottom:15px;
  text-align:center;
  padding:250px 50px 250px 50px;
  color:lightyellow;
  
}
footer{
  color:purple;
}
@media (max-width: 28.75em) {
  nav {
    justify-content: center;
  } li a{
    margin: 0 1rem;
  }
  html{
    font-size:30px;
  }
}